<div id="<%= dom_id livro %>">
  <p>
    <strong>Nome:</strong>
    <%= livro.nome %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.autor_id %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= livro.categoria_id %>
  </p>

</div>
